test/de.uni-stuttgart.iaas.bpel-d.test/processes/Invoketest/SimpleInvokeProcess/RandomHelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://randomHelloService.tutorial.soa08.se.unihannover.de" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://randomHelloService.tutorial.soa08.se.unihannover.de" xmlns:intf="http://randomHelloService.tutorial.soa08.se.unihannover.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://randomHelloService.tutorial.soa08.se.unihannover.de" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="withSpace" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="RandomHelloService">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest"/>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RandomHelloServiceSoapBinding" type="impl:RandomHelloService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RandomHelloServiceService">

      <wsdl:port binding="impl:RandomHelloServiceSoapBinding" name="RandomHelloService">

         <wsdlsoap:address location="http://hobbes.se.uni-hannover.de:8080/RandomHelloService/services/RandomHelloService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
