test/de.uni-stuttgart.iaas.bpel-d.test/processes/OrderInfo/ProcessPayment.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://www.bpel4chor.org/splitProcess/test/services/ProcessPayment"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://www.bpel4chor.org/splitProcess/test/services/ProcessPayment">

    <xs:element name="processPayment" type="tns:processPayment"></xs:element>

    <xs:complexType name="processPayment">
        <xs:sequence>
            <xs:element name="actNum" type="xs:string" form="qualified"></xs:element>
            <xs:element name="amt" type="xs:double" form="qualified"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>